# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env

# Arquivos temporários e de log
*.log
*.tmp
*.bak
*.swp
